html, body {
    margin: 0;
    padding: 0;
}

.navbar {
  min-height: 100px;
  background-color: #A49592;
  /*background-color: #7DA3A1;*/
}

.navbar-brand {
  padding: 0 15px;
}

.navbar-toggle {
  margin-top: 3px;
  padding: 1px 1px !important;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 6.5px;
    padding-bottom: 6.5px;
    line-height: 25px;
  }
}

li {
    padding: 5px 5px;
}

.background {
	background-color: #f9f1ec;
	/*background-image: url("4.jpg");*/
}

.khorshid {
	font-family: khorshid;
	text-align: center;
	font-size: 50px;
	color: #453c3a;
	
}

.sign-button {
	font-size: 25px;
	color: #324851;
	font-weight: bolder;
}

a:hover {
    color: #003333;
}

a:link {
	text-decoration: none;
}

.pic {
	width: 600px;
	height: 600px;
	border-radius: 50%;
}
.text {
	border-style: solid;
	border-color: #727077;
	border-width: 7px;
	border-radius: 60px;
	text-align: center;
	font-family: text_font;
	font-size: 30px;
}

.about_us {
	padding: 10px;
	border-width:10px;
	border-style: groove;
	border-radius: 40;
	border-color: #727077;
	width: 100%;
	max-width: 100%;
	text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.about-us-item {
  width: 25%;
  padding: 20px;
  font-size: 30px;
}

.about-us-item > b {
	font-size: 17px;
}

@font-face{
	font-family: text_font;
	/* src:url("Grovflab DEMO.otf"); */
	src:url("./fonts/Shabnam.ttf");
}
@font-face{	
	font-family: khorshid;
	/* src:url("./fonts/BFarnaz.ttf"); */
	src:url("./fonts/Vazir-Black-FD-WOL.ttf");
}